

main h1 {
    text-align: center;
    font-family: "Raleway", sans-serif;
}

.table--section {
    background: #fff;
    border-radius: 2rem;
    opacity: 0;
    transition: all 300ms linear;
}

@media (max-width : 950px) {
    
    .table--page {
        font-size: 50%;
    } 
}